# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
env/

# Env & secrets
.env
.envrc

# Package managers
.pdm-python
.pixi/
uv.lock

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
.hypothesis/

# Jupyter
.ipynb_checkpoints/

# Type checkers
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
.cursorignore
.cursorindexingignore
